<% layout("/layouts/boilerplate.ejs") %>

<style>
  .filters {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .filters::-webkit-scrollbar {
    display: none;
  }

  .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.5rem;
    /* white-space: nowrap; */
    padding: 0.4rem 0;
    /* transition: all 0.2s ease-in-out; */
  }
  .filter i {
    font-size: 1.5rem;
    color: black;
    opacity: 0.7;
  }
  .filter i:hover {
    opacity: 1;
    /* transform: scale(1.1); */
  }

  .switch {
    font-size: 0.9rem;
    border: 1px solid #000;
    border-radius: 1.5rem;
    height: 2.5rem;
    padding: 0.2rem 0.6rem;
    white-space: nowrap;
    background-color: white;
    max-width: 200px;
  }

  .form-check-label {
    margin-right: 1rem;
  }
  .form-check-input {
    position: relative;
    right: 1rem;
  }
  .Tax-money {
    display: none;
  }
  .card-text {
    display: inline;
  }
</style>
<body>
  <div class="filters">
    <div class="filter">
      <div>
        <a href="/listings/filter?category=Treehouse"><i class="fa-solid fa-fire"></i></a> 
       </div>
       <p>Trending</p>
     </div>
     <div class="filter">
       <div>
         <a href="/listings/filter?category=Treehouse"><i class="fa-solid fa-tree-city"></i></a>
       </div>
       <p>Tree house</p>
     </div>
     <div class="filter">
       <div>
         <a href="/listings/filter?category=Beachfront"><i class="fa-solid fa-umbrella-beach"></i></a>
       </div>
       <p>Beachfront</p>
     </div>
     <div class="filter">
       <div>
         <a href="/listings/filter?category=Mountain"><i class="fa-solid fa-mountain-city"></i></a>
       </div>
       <p>Mountain</p>
     </div>
     <div class="filter">
       <div>
         <a href="/listings/filter?category=Urban"><i class="fa-solid fa-chess-rook"></i></a>
       </div>
       <p>Urban</p>
     </div>
     <div class="filter">
       <div>
         <a href="/listings/filter?category=Historic"><i class="fa-solid fa-person-swimming"></i></a>
       </div>
       <p>Historic</p>
     </div>
     <div class="filter">
       <div>
         <a  href="/listings/filter?category=Lakefront"><i class="fa-solid fa-tent"></i></a>
       </div>
       <p>Lakefront</p>
     </div>
     <div class="filter">
       <div>
         <a  href="/listings/filter?category=Luxury"><i class="fa-solid fa-tractor"></i></a>
       </div>
       <p>Luxury</p>
     </div>
     <div class="filter">
       <div>
         <a href="/listings/filter?category=Island"><i class="fa-solid fa-igloo"></i></a>
       </div>
       <p>Island</p>
     </div>
     <div class="filter">
       <div>
        <a href="/listings/filter?category=Ski Resort"><i class="fa-solid fa-person-swimming"></i></a>
       </div>
       <p>Ski Resort</p>
     </div>
      <!-- Toggle Switch -->
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="switchCheckChecked"
        />
        <label class="form-check-label" for="switchCheckChecked"
          >Total before tax</label
        >
      </div>
    </div>
  </div>

  <h2>All Listings</h2>
  <div class="row row-cols-lg-3 row-cols-md-3 row-col-sm-2">
    <%for(let listing of allListings){%>
    <a href="/listings/<%=listing._id%>" class="show-card">
      <div class="card col listing-card">
        <img
          src="<%=listing.image.url%>"
          class="card-img-top"
          alt="image"
          style="height: 20rem"
        />
        <div class="card-img-overlay">RinkuSahani</div>
        <div class="card-body">
          <h5 class="card-title"><%=listing.title%></h5>
          <div class="card-text">&#8377;<%=listing.price%>/night</div>
          <div class="Tax-money">+18% GST</div>
        </div>
      </div>
    </a>

    <% }%>
  </div>
</body>

<script>
  const scrollContainer = document.getElementById("filterScroll");
  const scrollLeftBtn = document.getElementById("scrollLeft");
  const scrollRightBtn = document.getElementById("scrollRight");

  scrollLeftBtn.addEventListener("click", () => {
    scrollContainer.scrollBy({ left: -200, behavior: "smooth" });
  });

  scrollRightBtn.addEventListener("click", () => {
    scrollContainer.scrollBy({ left: 200, behavior: "smooth" });
  });
</script>
