<% layout("/layouts/boilerplate.ejs") %>
<body>
  
  <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
   <div class="row row-cols-lg-3 row-cols-md-3 row-col-sm-2">
    <div class="col-8 offset-2">
      <h2>Create a new list</h2>
      <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" placeholder="Enter you title" name="listing[title]" class="form-control" required
        /> 
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please give a title</div>
      </div>

      <div>
        <label for="image" class="form-label">Upload Listing image:</label>
        <input                                                                                                                                                                                                                                                          
          type="file"                                                      
          name="listing[image]"
          class="form-control"
        />
      </div>
    
      <div>                                       
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" id="description" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
    </div>
    
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select name="listing[category]" class="form-select" required>
        <option value="" disabled selected>Select a category</option>
        <option value="Beachfront">Beachfront</option>
        <option value="Urban">Urban</option>
        <option value="Mountain">Mountain</option>
        <option value="Historic">Historic</option>
        <option value="Lakefront">Lakefront</option>
        <option value="Luxury">Luxury</option>
        <option value="Lakefront">Lakefront</option>
        <option value="Island">Island</option>
      </select>
      <div class="invalid-feedback">Please select a category</div>
    </div>
    
  
     <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input
          placeholder="Enter your price"
          name="listing[price]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Price  should be valid</div>
      </div>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          placeholder="Enter you country"
          name="listing[country]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Country name should be valid</div>
      </div>
     </div>
      <div>
        <label for="location" class="form-label ">Location</label>
  
        <input
          type="text"
          placeholder="Enter you location"
          name="listing[location]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
        <br>
      </div>
      </div>
      <br>
      <div class="submit-wrapper text-center">
        <button class="btn btn-dark add-btn" type="submit">Add</button>
      </div>
      <br>
     
    </div>

   </div>
   
  </form>
</body>
