<% layout("/layouts/boilerplate.ejs") %>

<div class="root-div">
    <h3 class="root-anime">This webpage is under construction.Please click on the <strong>'explore'</strong>button on the top left side of your screen to visit our allListings</h3>
</div>